.container {
    display: inline-block;
    border-radius: 4px;
}

.search {
    padding: 20px;
    display: block;
    border: 1px solid rgb(190, 190, 190);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 200px;
    height: 20px;
    border-radius: 2px;

}