@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #eee;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        min-height: 100vw;
    }
}

.custom-radio {
    width: 10px;
    height: 10px;
}

/* .custom-radio> {
    box-shadow: 0 0 0 5px white
} */

.custom-radio input:checked+div {
    @apply bg-blue-500;
    box-shadow: 0 0 0 2.5px white, 0 0 0 5px rgb(59 130 246 / 1);

}

.custom-checkbox-square {
    width: 20px;
    height: 20px;
}

.custom-checkbox input:checked+div .custom-checkbox-square {
    background: rgb(59 130 246 / 1);

}

@keyframes shine {
    to {
        background-position-x: -200%;
    }

}

.zoom-enter .content {
    opacity: 0;
    transform: scale(0.5);
}

.zoom-enter-active .content {
    opacity: 1;
    transform: scale(1);
}

.zoom-exit .content {
    opacity: 1;
}

.zoom-exit-active .content {
    opacity: 0;
    transform: scale(0.5);
}

/* tooltip */
.fade-enter .tooltip {
    opacity: 0;
}

.fade-enter-active .tooltip {
    opacity: 1;
}

.fade-exit .tooltip {
    opacity: 1;
}

.fade-exit-active .tooltip {
    opacity: 0;
}